@define-color shadow rgba(0, 0, 0, 0.25);

/* Tokyo Night Theme Colors */
@define-color base #1a1b26;
@define-color mantle #24283b;
@define-color crust #16161e;

@define-color text #c0caf5;
@define-color subtext0 #9aa5ce;
@define-color subtext1 #a9b1d6;

@define-color surface0 #1a1b26;
@define-color surface1 #414868;
@define-color surface2 #565f89;

@define-color accent #bb9af7;

* {
    font-family: "Bricolage Grotesque";
    background-clip: border-box;
}

label {
    color: @text;
}

.notification {
    border: @accent;
    box-shadow: none;
    border-radius: 3px;
    background: inherit;
}

.notification button {
    background: transparent;
    border-radius: 0px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.notification button:hover {
    background: @surface0;
}


.notification-content {
    min-height: 64px;
    margin: 10px;
    padding: 0px;
    border-radius: 0px;
}

.close-button {
    background: @crust;
    color: @surface2;
}

.notification-default-action,
.notification-action {
    background: transparent;
    border: none;
}


.notification-default-action {
    border-radius: 3px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notification-action {
    border-radius: 0px;
    padding: 2px;
    color: @text;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
    border-bottom-left-radius: 3px;
}

.notification-action:last-child {
    border-bottom-right-radius: 3px;
}

.notification.critical {
    border: 2px solid #f7768e;
}


/*** Notification ***/
/* Notification header */
.summary {
    color: @text;
    font-size: 16px;
    padding: 0px;
}

.time {
    color: #7aa2f7;
    font-size: 14px;
    text-shadow: none;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px;
}

.body {
    font-size: 15px;
    font-weight: 500;
    color: @subtext1;
    text-shadow: none;
    margin: 0px 0px 0px 0px;
}

.body-image {
    border-radius: 3px;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
    color: @text;
    text-shadow: none;
}

/* Control center */

.control-center {
    background: @crust;
    border: 2px solid @accent;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.5);
}

.control-center-list {
    background: @crust;
    min-height: 5px;
    border-radius: 0px 0px 3px 3px;
}

.control-center-list-placeholder,
.notification-group-icon,
.notification-group {
    color: alpha(@text, 0.50);
}

.notification-group {
    all: unset;
    border: none;
    opacity: 0;
    padding: 0px;
    box-shadow: none;
}

.notification-group>box {
    all: unset;
    background: @mantle;
    padding: 8px;
    margin: 0px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}


.notification-row {
    outline: none;
    transition: all 1s ease;
    background: @base;
    border: 2px solid @accent;
    margin: 10px;
    padding: 2px;
    border-radius: 3px;
}

.notification-row:focus,
.notification-row:hover {
    box-shadow: none;
}

.control-center-list>row,
.control-center-list>row:focus,
.control-center-list>row:hover {
    background: transparent;
    border: none;
    margin: 0px;
    padding: 5px 10px 5px 10px;
    box-shadow: none;
}

.control-center-list>row:last-child {
    padding: 5px 10px 10px 10px;
}


/* Window behind control center and on all other monitors */
.blank-window {
    background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
    margin: 0px;
    background: inherit;
    border-radius: 3px 3px 0px 0px;
    border-bottom: none;
    padding-bottom: 0px;
}

.widget-title>label {
    margin: 18px 10px;
    font-size: 18px;
    font-weight: 500;
}

.widget-title>button {
    font-weight: 700;
    padding: 7px 3px;
    margin-right: 10px;
    background: @mantle;
    color: @text;
    border-radius: 3px;
}

.widget-title>button:hover {
    background: @base;
}

/* Label widget */
.widget-label {
    margin: 0px;
    padding: 0px;
    min-height: 5px;
    background: @mantle;
    border-radius: 0px 0px 3px 3px;
    border-top: none;
}

.widget-label>label {
    font-size: 0px;
    font-weight: 400;
}

/* Menubar */
.widget-menubar {
    background: inherit;
    border-top: none;
    border-bottom: none;
}

.widget-menubar>box>box {
    margin: 5px 10px 5px 10px;
    min-height: 40px;
    border-radius: 3px;
    background: transparent;
}

.widget-menubar>box>box>button {
    background: @mantle;
    min-width: 85px;
    min-height: 50px;
    margin-right: 13px;
    font-size: 17px;
    padding: 0px;
}

.widget-menubar>box>box>button:nth-child(4) {
    margin-right: 0px;
}

.widget-menubar button:focus {
    box-shadow: none;
}

.widget-menubar button:focus:hover {
    background: @base;
    box-shadow: none;
}

.widget-menubar>box>revealer>box {
    margin: 5px 10px 5px 10px;
    background: @mantle;
    border-radius: 3px;
}

.widget-menubar>box>revealer>box>button {
    background: transparent;
    min-height: 50px;
    padding: 0px;
    margin: 5px;
}

/* Buttons grid */
.widget-buttons-grid {
    background-color: @mantle;
    border-top: none;
    border-bottom: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    padding: 5px;
    border-radius: 0px;
}

.widget-buttons-grid>flowbox>flowboxchild {
    background: @mantle;
    border-radius: 3px;
    min-height: 50px;
    min-width: 85px;
    margin: 5px;
    padding: 0px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    background: transparent;
    border-radius: 3px;
    margin: 0px;
    border: none;
    box-shadow: none;
}


.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @mantle;
}

/* Mpris widget */
.widget-mpris {
    padding: 10px;
    padding-bottom: 35px;
    padding-top: 35px;
    margin-bottom: -33px;
}

.widget-mpris>box {
    padding: 0px;
    margin: -5px 0px -10px 0px;
    padding: 0px;
    border-radius: 3px;
    background: @mantle;
    border: 2px solid #f7768e;
}

.widget-mpris>box>button:nth-child(1),
.widget-mpris>box>button:nth-child(3) {
    margin-bottom: 0px;
}

.widget-mpris>box>button:nth-child(1) {
    margin-left: -25px;
    margin-right: -25px;
    opacity: 0;
}

.widget-mpris>box>button:nth-child(3) {
    margin-left: -25px;
    margin-right: -25px;
    opacity: 0;
}

.widget-mpris-album-art {
    all: unset;
}

/* Player button box */
.widget-mpris>box>carousel>widget>box>box:nth-child(2) {
    margin: 5px 0px -5px 90px;
}

/* Player buttons */
.widget-mpris>box>carousel>widget>box>box:nth-child(2)>button {
    border-radius: 3px;
}

.widget-mpris>box>carousel>widget>box>box:nth-child(2)>button:hover {
    background: alpha(currentColor, 0.1);
}

carouselindicatordots {
    opacity: 0;
}

.widget-mpris-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.25rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.widget-mpris-subtitle {
    color: #ffffff;
    font-size: 1rem;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.widget-mpris-player {
    border-radius: 0px;
    margin: 0px;
}

.widget-mpris-player>box>image {
    margin: 0px 0px -48px 0px;
}

.notification-group>box.vertical {
    margin-top: 3px
}

/* Backlight and volume widgets */
.widget-backlight,
.widget-volume {
    background-color: @crust;
    border-top: none;
    border-bottom: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.widget-volume>box {
    background: @mantle;
    border-radius: 3px;
    margin: 5px 10px 5px 10px;
    min-height: 50px;
}

.widget-volume>box>label {
    min-width: 50px;
    padding: 0px;
}

.widget-volume>box>button {
    min-width: 50px;
    box-shadow: none;
    padding: 0px;
}

.widget-volume>box>button:hover {
    background: @surface0;
}

.widget-volume>revealer>list {
    background: @mantle;
    border-radius: 3px;
    margin-top: 5px;
    padding: 0px;
}

.widget-volume>revealer>list>row {
    padding-left: 10px;
    min-height: 40px;
    background: transparent;
}

.widget-volume>revealer>list>row:hover {
    background: transparent;
    box-shadow: none;
    border-radius: 3px;
}

.widget-backlight>scale {
    background: @mantle;
    border-radius: 0px 3px 3px 0px;
    margin: 5px 10px 5px 0px;
    padding: 0px 10px 0px 0px;
    min-height: 50px;
}

.widget-backlight>label {
    background: @surface0;
    margin: 5px 0px 5px 10px;
    border-radius: 3px 0px 0px 3px;
    padding: 0px;
    min-height: 50px;
    min-width: 50px;
}

/* DND widget */
.widget-dnd {
    margin: 8px;
    font-size: 1.1rem;
    padding-top: 20px;
}

.widget-dnd>switch {
    font-size: initial;
    border-radius: 50px;
    background: @surface0;
    border: 1px solid @accent;
    box-shadow: none;
}

.widget-dnd>switch:checked {
    background: #f7768e;
    border: 2px solid @accent;
}

.widget-dnd>switch slider {
    background: @accent;
    border-radius: 12px;
}

/* Toggles */
.toggle:checked {
    background: @accent;
}

.toggle:checked:hover {
    background: @surface2;
}

/* Sliders */
scale {
    padding: 0px;
    margin: 0px 10px 0px 10px;
}

scale trough {
    border-radius: 3px;
    background: @surface0;
}

scale highlight {
    border-radius: 3px;
    min-height: 10px;
    margin-right: -5px;
    background-color: @accent;
}

scale slider {
    margin: -10px;
    min-width: 10px;
    min-height: 10px;
    background: transparent;
    box-shadow: none;
    padding: 0px;
}

.right.overlay-indicator {
    all: unset;
}